<Config>
	<DeviceControlBoard>
		<Ip>192.168.11.111</Ip>
		<Port>8234</Port>
		<Ip2>192.168.11.117</Ip2>
		<Port2>8234</Port2>
		<EnableIp2>0</EnableIp2>
		<!-- 心跳间隔单位ms -->
		<DeviceHeartBeat>200</DeviceHeartBeat>
		<FactoryMode>0</FactoryMode>
	</DeviceControlBoard>
	<ImageProcess>
		<!-- 0 保存sdRaw，1 保存原始raw -->
		<RawFile>1</RawFile>
		<RawFileSize>
			<Size>
				<FileSize>15728640</FileSize>
				<!-- 原始raw宽 -->
				<RawFileWidth>2560</RawFileWidth>
				<!-- 原始raw高 -->
				<RawFileHeight>3072</RawFileHeight>
			</Size>
			<Size>
				<FileSize>9437184</FileSize>
				<!-- 原始raw宽 -->
				<RawFileWidth>1536</RawFileWidth>
				<!-- 原始raw高 -->
				<RawFileHeight>3072</RawFileHeight>
			</Size>
			<Size>
				<FileSize>12976128</FileSize>
				<!-- 原始raw宽 -->
				<RawFileWidth>2816</RawFileWidth>
				<!-- 原始raw高 -->
				<RawFileHeight>2304</RawFileHeight>
			</Size>
		</RawFileSize>
		<Type>1</Type>
		<UploadPic>https://tims.sidajiance.com/pro-api/lims/skEntrust/uploadImagesByJson</UploadPic>
		<DownloadPic>https://tims.sidajiance.com/pro-api/lims/skEntrust/downLoadImageBySampleId</DownloadPic>
		<GetGuidInfo>https://tims.sidajiance.com/pro-api/lims/skEntrust/getSampleNameBySampleId</GetGuidInfo>
		<DownLoadTimeOut>10000</DownLoadTimeOut>
	</ImageProcess>
	<SampleBoard>
		<!-- 0 品臻，1 韩国DRTECH -->
		<Manufacturer>0</Manufacturer>
		<!-- 型号，504：DRTECH_2143S 4007:DRTECH_2143U-->
		<Model>4007</Model>
		<!-- map类型，0 DRTECH的MAP-->
		<MapType>0</MapType>
		<!-- 0 AED模式，1 手动软件触发 -->
		<ExposureType>0</ExposureType>
		<!-- 曝光时间 ms -->
		<ExposureTime>20000</ExposureTime>
	</SampleBoard>
	<Camera>
		<Left>192.168.1.10</Left>
		<Mid>192.168.1.11</Mid>
		<Right>192.168.250.14</Right>
	</Camera>
	<Tims>
		<ForceGuid>0</ForceGuid>
	</Tims>
	<TcpClient>
		<Ip>127.0.0.1</Ip>
		<Port>8877</Port>
	</TcpClient>
</Config>